In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [4]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [5]:
zip(outerIndex,innerIndex)

In [8]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [12]:
hierarchy = list(zip(outerIndex,innerIndex))

In [13]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [14]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [15]:
df = pd.DataFrame(randn(9,3),hierarchy,columns= ["Cloumn1","Column2","Column3"])

In [16]:
df

                Cloumn1   Column2   Column3
Group1 Index1 -0.050817 -1.413859 -1.236121
       Index2 -0.677460  0.448121 -0.186096
       Index3 -2.681432  0.019997 -0.206184
Group2 Index1  0.902154  1.136007 -0.026185
       Index2  0.263263 -1.624022  1.060710
       Index3 -0.402323  0.383048 -0.185332
Group3 Index1 -1.065744  0.086938 -0.498322
       Index2  1.181899 -1.008039 -1.130770
       Index3  1.525464  0.185954  0.717351

In [18]:
df["Cloumn1"]

Group1  Index1   -0.050817
        Index2   -0.677460
        Index3   -2.681432
Group2  Index1    0.902154
        Index2    0.263263
        Index3   -0.402323
Group3  Index1   -1.065744
        Index2    1.181899
        Index3    1.525464
Name: Cloumn1, dtype: float64

In [19]:
df.loc["Group1"]

         Cloumn1   Column2   Column3
Index1 -0.050817 -1.413859 -1.236121
Index2 -0.677460  0.448121 -0.186096
Index3 -2.681432  0.019997 -0.206184

In [21]:
df.loc[["Group3","Group2"]]

                Cloumn1   Column2   Column3
Group2 Index1  0.902154  1.136007 -0.026185
       Index2  0.263263 -1.624022  1.060710
       Index3 -0.402323  0.383048 -0.185332
Group3 Index1 -1.065744  0.086938 -0.498322
       Index2  1.181899 -1.008039 -1.130770
       Index3  1.525464  0.185954  0.717351

In [22]:
df.loc["Group1"].loc["Index2"]

Cloumn1   -0.677460
Column2    0.448121
Column3   -0.186096
Name: Index2, dtype: float64

In [23]:
df.loc["Group1"].loc["Index2"]["Column2"]

0.44812130241948284

In [24]:
df.index.names

FrozenList([None, None])

In [25]:
df.index.names = ["Groups","Indexes"]

In [26]:
df

                 Cloumn1   Column2   Column3
Groups Indexes
Group1 Index1  -0.050817 -1.413859 -1.236121
       Index2  -0.677460  0.448121 -0.186096
       Index3  -2.681432  0.019997 -0.206184
Group2 Index1   0.902154  1.136007 -0.026185
       Index2   0.263263 -1.624022  1.060710
       Index3  -0.402323  0.383048 -0.185332
Group3 Index1  -1.065744  0.086938 -0.498322
       Index2   1.181899 -1.008039 -1.130770
       Index3   1.525464  0.185954  0.717351

In [27]:
df.loc["Group1"]

          Cloumn1   Column2   Column3
Indexes
Index1  -0.050817 -1.413859 -1.236121
Index2  -0.677460  0.448121 -0.186096
Index3  -2.681432  0.019997 -0.206184

In [28]:
df.xs("Group3")

          Cloumn1   Column2   Column3
Indexes
Index1  -1.065744  0.086938 -0.498322
Index2   1.181899 -1.008039 -1.130770
Index3   1.525464  0.185954  0.717351

In [29]:
df.xs("Group2").xs("Index2").xs("Column3")

1.0607097441835065

In [30]:
df.xs("Index2",level = "Indexes")

         Cloumn1   Column2   Column3
Groups
Group1 -0.677460  0.448121 -0.186096
Group2  0.263263 -1.624022  1.060710
Group3  1.181899 -1.008039 -1.130770