In [1]:
#Birçok serinin aynı veri kümesinde bulunmasına dataframe denilir.
"""


dataframe aslında sql'deki tablolara oldukça benzerdir.

sutunlar ve indexlerimiz var bunlar üzerinden veri analizi yapabiliyoruz.

"""

"\n\n\ndataframe aslında sql'deki tablolara oldukça benzerdir.\n\nsutunlar ve indexlerimiz var bunlar üzerinden veri analizi yapabiliyoruz.\n\n"

In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
randn(3)

array([ 0.32749564, -0.0285686 ,  0.34573268])

In [5]:
randn(3,3)

array([[-0.91353077, -0.20917699,  0.05508691],
       [ 1.19743443, -0.08976589, -2.42588004],
       [-0.88696284,  0.03342709,  2.02355335]])

In [6]:
df = pd.DataFrame(data= randn(3,3),index= ["q","w","e"],columns=["Column1","Column2","Column3"])

In [7]:
df

    Column1   Column2   Column3
q -0.243213  0.904700  0.022761
w -0.154741  0.517480  1.527619
e  1.219821 -1.127614 -0.734538

In [8]:
#Serilerimizin birleşmiş hali gibi düşünebiliriz.

In [9]:
df["Column1"]

q   -0.243213
w   -0.154741
e    1.219821
Name: Column1, dtype: float64

In [10]:
df["Column2"]

q    0.904700
w    0.517480
e   -1.127614
Name: Column2, dtype: float64

In [11]:
type(df["Column3"])

pandas.core.series.Series

In [12]:
df.loc["q"]

Column1   -0.243213
Column2    0.904700
Column3    0.022761
Name: q, dtype: float64

In [16]:
type(df.loc["w"])

pandas.core.series.Series

In [17]:
df[["Column1","Column2","Column3"]]

    Column1   Column2   Column3
q -0.243213  0.904700  0.022761
w -0.154741  0.517480  1.527619
e  1.219821 -1.127614 -0.734538

In [18]:
df["Column58"]

KeyError: 'Column58'

In [19]:
#böyle bir Column olmadığı için keyerror hatası aldık bu hatayı serilerdede alıyorduk

In [20]:
df["Column58"] =pd.Series(randn(3),["q","w","e"])

In [21]:
df

    Column1   Column2   Column3  Column58
q -0.243213  0.904700  0.022761 -1.613571
w -0.154741  0.517480  1.527619  0.534737
e  1.219821 -1.127614 -0.734538  1.831565

In [23]:
df["Column_total"] = df["Column1"]+df["Column2"]+df["Column58"]

In [24]:
df

    Column1   Column2   Column3  Column58  Column_total
q -0.243213  0.904700  0.022761 -1.613571     -0.952084
w -0.154741  0.517480  1.527619  0.534737      0.897475
e  1.219821 -1.127614 -0.734538  1.831565      1.923772

In [28]:
#sütun silme drop(düşürmek,silmek anlamında)
df.drop("Column58",axis=1)

    Column1   Column2   Column3  Column_total
q -0.243213  0.904700  0.022761     -0.952084
w -0.154741  0.517480  1.527619      0.897475
e  1.219821 -1.127614 -0.734538      1.923772

In [29]:
df

    Column1   Column2   Column3  Column58  Column_total
q -0.243213  0.904700  0.022761 -1.613571     -0.952084
w -0.154741  0.517480  1.527619  0.534737      0.897475
e  1.219821 -1.127614 -0.734538  1.831565      1.923772

In [31]:
df.drop("Column58",axis=1,inplace=True)#Güncelle diyoruz inplace ile

In [32]:
df

    Column1   Column2   Column3  Column_total
q -0.243213  0.904700  0.022761     -0.952084
w -0.154741  0.517480  1.527619      0.897475
e  1.219821 -1.127614 -0.734538      1.923772

In [33]:
df.loc["w"]

Column1        -0.154741
Column2         0.517480
Column3         1.527619
Column_total    0.897475
Name: w, dtype: float64

In [36]:
df.iloc[1]

Column1        -0.154741
Column2         0.517480
Column3         1.527619
Column_total    0.897475
Name: w, dtype: float64

In [37]:
df.loc["q","Column_total"]

-0.9520837296170981

In [40]:
df.loc[["q","e"],["Column2","Column_total"]]#küçük bir dataframe döndürmüş olacağız

    Column2  Column_total
q  0.904700     -0.952084
e -1.127614      1.923772